[color]
	ui = auto
[core]
[alias]
	oops = commit --amend -C HEAD
	shove = push --force-with-lease
	l = log --oneline
[pull]
	ff = only
[init]
	defaultBranch = main
[push]
	default = current
[user]
	email = garmorley@gmail.com
	name = Gar Morley
[merge]
  conflictStyle = diff3
[diff]
  colorMoved = default
